.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.card {
  width: 100%;
  min-width: 300px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 15px;
  padding-bottom: 30px;
  padding-top: 10px;
}
.top-bar {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
}
.profile {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.imgBox {
  width: 100px;
  height: 100px;
}
.imgBox > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: lightgray;
}
.info {
  width: 80%;
  height: 250px;
  margin: 0 auto;
}
.info > p {
  font-size: 12px;
}
.card > i {
  font-size: 20px;
}
h5 {
  margin-block-end: 0;
}
